<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../static/bootstrap//css/bootstrap.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <h1 class="text-center mt-4 mb-5">Services offered at ShopSwift!</h1>
    
    <div class="row">
        <div class="col">
            <img src="../static/customer.png" alt="" class="mx-auto d-block">
            <h1 class="text-center">Customer Care</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe dolores officiis odio, optio pariatur quam nobis quo consectetur accusamus aspernatur, delectus ullam provident. Explicabo voluptates, officiis distinctio provident soluta optio.
            At doloribus illum, consequatur libero magni voluptas dicta dolores voluptatum sequi, laboriosam nesciunt ullam in ducimus quos voluptates vero commodi nostrum, provident cumque? Suscipit illo pariatur ratione atque nemo iste.</p>
            
            <div class="d-grid">
                <button class="btn btn-primary">See More</button>
            </div>
        </div>



        <div class="col">
            <img src="../static/payment.png" alt=""  class="mx-auto d-block">
            <h1 class="text-center">Payment</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe dolores officiis odio, optio pariatur quam nobis quo consectetur accusamus aspernatur, delectus ullam provident. Explicabo voluptates, officiis distinctio provident soluta optio.
            At doloribus illum, consequatur libero magni voluptas dicta dolores voluptatum sequi, laboriosam nesciunt ullam in ducimus quos voluptates vero commodi nostrum, provident cumque? Suscipit illo pariatur ratione atque nemo iste.</p>
            
            <div class="d-grid">
                <button class="btn btn-warning">See More</button>
            </div>
        </div>



        <div class="col">
            <img src="../static/checkout.png" alt=""  class="mx-auto d-block">
            <h1 class="text-center">CheckOut</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe dolores officiis odio, optio pariatur quam nobis quo consectetur accusamus aspernatur, delectus ullam provident. Explicabo voluptates, officiis distinctio provident soluta optio.
            At doloribus illum, consequatur libero magni voluptas dicta dolores voluptatum sequi, laboriosam nesciunt ullam in ducimus quos voluptates vero commodi nostrum, provident cumque? Suscipit illo pariatur ratione atque nemo iste.</p>
            
            <div class="d-grid">
                <button class="btn btn-success">See More</button>
            </div>
        </div>

    </div>



</body>
</html>