<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <style>
        img{
            width: 33%;
            height: 450px;
        }
    </style>


</head>
<body>


    <h1>Welcome to ShopSwift!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolor commodi itaque minus nostrum voluptatum molestias laboriosam debitis reiciendis, corrupti est necessitatibus accusamus, dolores quo ab, exercitationem adipisci aspernatur blanditiis.
    Blanditiis fugit nemo aliquid ipsum praesentium quaerat optio adipisci, voluptatum tenetur officiis iure voluptatibus aut soluta similique excepturi dolorem distinctio minus, dolorum, incidunt ipsam saepe? Odit non cumque accusantium nihil?</p>


    <img src="../static/puppy3.png" alt="">
    <img src="../static/puppy2.png" alt="">
    <img src="../static/puppy1.png" alt="">

    
</body>
</html>